/*

!.gitignore
!*.cpp
!*.h
!CMakeLists.txt
!README.md
!LICENSE
!*.txt

# Ignore executables and binaries (everywhere)
!*/
*/
!*.*
*.o
*.a
*.so
*.exe

# Ignore editor and temp files
**/.vscode/
*.swp
*.swo
*~


